<div style="width: 1000px; height:56px; position: relative; background-color:#2d68b2; color:#FFFFFF; font-size: 11px; margin-bottom:0px;">

  <div style="position: absolute; top:6px; left: 36px;">
    <a href="/">
      <img src="/assets/images/mech_sim_header.png" alt="Go To Mechanical Simulation Corporation Home Page" title="Go To Mechanical Simulation Corporation Home Page" />
    </a>
  </div>

  <div style="position: absolute; top: 15px; left: 600px;">
    <a href="https://www.facebook.com/pages/Mechanical-Simulation/158480487520288?ref=br_rs&pnref=lhc" style="font-size: 10px; color: #FFFFFF;">
      <img src="/assets/images/facebook.png" width="20" height="20" alt="Go To Mechanical Simulation Corporation's Facebook Page" title="Go To Mechanical Simulation Corporation's Facebook Page" />
    </a>
  </div>

  <div style="position: absolute; top: 15px; left: 632px;">
    <a href="https://www.linkedin.com/company/mechanical-simulation-corporation?trk=nav_account_sub_nav_company_admin" style="font-size: 10px; color: #FFFFFF;">
      <img src="/assets/images/linkedin.png" width="20" height="20" alt="Go To Mechanical Simulation Corporation's LinkedIn Page" title="Go To Mechanical Simulation Corporation's LinkedIn Page" />
    </a>
  </div>

  <div style="position: absolute; top: 15px; left: 660px;">
    <a href="https://www.youtube.com/channel/UCSRqaCirU02UL7i51i8VhTg" style="font-size: 10px; color: #FFFFFF;">
      <img src="/assets/images/youtube.png" width="20" height="20" alt="Go To Mechanical Simulation Corporation's YouTube Page" title="Go To Mechanical Simulation Corporation's YouTube Page" />
    </a>
  </div>

  <div style="position: absolute; top: 18px; left: 728px;">
    <form method="get" action="https://www.google.com/search" target="_search_results">
      <span style="font-size: 12px;">Search</span>
      <input type="text" name="q" style="font-size: 11px;width:200px;background-color:white;" value="" maxlength="255" placeholder="Search carsim.com">
      <input type="hidden" name="sitesearch" value="carsim.com">
    </form>
  </div>
</div>
