<nav class="navbar navbar-carsim">
    <div class="container-fluid">

        <div class="navbar-header">
            
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site_name }}</a>
        </div>
 <div class="collapse navbar-collapse" id="nav-main">
            <ul class="nav navbar-nav">
                {{ nav from="/" max-depth="5" }}
                    <li{{ if is_current or is_parent }} class="active"{{ /if }}>
                        <a href="{{ url }}">{{ tag:nav_title or title }}
                        </a>
						{{ if is_current || is_parent }}
            {{ if children }}
               <ul>{{ *recursive children* }}</ul>
            {{ endif }}
         {{ endif }}
                    </li>
                {{ /nav }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> adam stuff here </li>
            </ul>
        </div>
    </div>
</nav>
